body {
      text-align: center;
}
.container { 
display: flex;
justify-content: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 20%;
    margin: 2.1rem;
}
.red {
    background-color: red;
}
.yellow {
    background-color: orange;
}
.green {
    background-color: pink;
}
.purple {
    background-color: rgb(30, 154, 195);
}
.flash {
    background-color: white;
}
.userflash {
    background-color: green;
}